<html>
<head>
	<title>Chat app</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="../scripts/bulma.css"/>
	<link rel="stylesheet" type="text/css" href="../css/main.css"/>
</head>
<body>
	<div class="column is-half is-offset-one-quarter">
		<h1 class="title has-text-centered">Sign up</h1>
		<form action="/web/signup" method="POST">
			<div class="field">
				<% if(message != "") {%>
					<div class="notification is-primary">
					<%= message %> 
					</div> 
					<% } %>
					<label class="label">Username:</label>
					<input class="input" type="text" name="username" required/>
					<label class="label">Password:</label>
					<input class="input" type="password" name="password" required/>
				</div>
				<div class="field is-grouped">
					<p class="login-button control">
						<input class="button login-button is-primary" type="submit" value="Sign up"/>
					</p>
				</div>
			</form>
			<button class="signup-button button"><a class="is-link" href="/web/login">Back to login</a></button>
		</div>
	</body>
	</html>